/* GLOBAL STUFF */

:root {
  --text-xs: 1.8rem;
  --text-sm: 2.5rem;
  --text-base: 5rem;
  --text-lg: 8rem;
  --font-primary: 'Times New Roman',
    Times,
    serif;
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
}

html {
  font-family: var(--font-primary);
  font-size: 10px;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-size: var(--text-sm);
  line-height: 1.03;
  font-weight: 600;
  color: black;
}

p,
button,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-sm);
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: 1.03;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

sup {
  font-size: 25px;
  vertical-align: top;
}

a {
  text-decoration-line: none;
  color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

a.def-link {
  text-decoration-line: underline;
}

a.def-link:hover {
  color: blue;
}

.section {
  padding: 0 var(--spacing-md);
}

.section#team .inner {
  border: none;
}

.section .inner {
  border-bottom: 2px solid black;
  padding-bottom: var(--spacing-xl);
  margin-bottom: var(--spacing-xs);
}

.section .title {
  display: flex;
  margin-bottom: var(--spacing-md);
}

.section .title > p:first-child {
  width: 10vw;
}

.default-carousel .swiper {
  position: relative;
  background-color: #e4e4e4;
}

.default-carousel .swiper-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.default-carousel .swiper-slide img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.default-carousel .buttons {
  display: flex;
  margin-top: var(--spacing-sm);
}

.default-carousel .buttons * {
  font-size: var(--text-xs);
}

.dropdown {
  border-top: 2px solid black;
}

.dropdown .dropdown-content {
  display: none;
  padding: var(--spacing-md) 0;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown .clicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) 0;
  width: 100%;
}

.dropdown .clicker > div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
}

.dropdown .arrow {
  flex: none;
}

.dropdown.active .arrow {
  transform: rotate(180deg);
}

.dropdown .clicker > div:first-child span:first-child {
  width: 10vw;
}

.dropdown .content-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-md);
}

.dropdown .content-inner .content-left,
.dropdown .content-inner .content-right {
  grid-column: span 1 / span 1;
}

.dropdown .content-inner p {
  font-size: var(--text-sm);
  line-height: 1.08;
}

.dropdown .content-inner .content-left > * + *,
.dropdown .content-inner .content-right>*+* {
  margin-top: 2rem;
}

.dropdown .content-inner .content-right img {
  width: 100%;
  margin-top: .5rem;
}

.dropdown .list-item {
  display: flex;
  align-items: flex-start;
}

.dropdown .list-item p {
  flex: 1;
}

.dropdown .list-item p:first-child {
  width: 33.333333%;
  flex: none;
}

#nav-links li a:hover {
  color: blue;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* HERO SECTION - HOME PAGE */

.hero {
  width: 100%;
  height: 40vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero h1 {
  font-size: var(--text-lg);
  color: black;
  visibility: hidden;
}

.hero .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* INTRO SECTION - HOME PAGE */

.intro {
  padding: var(--spacing-md) var(--spacing-md) 0 var(--spacing-md);
}

.intro > p:first-child {
  border-bottom: 2px solid black;
  padding-bottom: var(--spacing-xl);
  margin-bottom: var(--spacing-xs);
}

.intro ul {
  list-style: none;
  border-bottom: 2px solid black;
  padding-bottom: var(--spacing-xl);
  margin-bottom: var(--spacing-xs);
}

.intro li a {
  display: flex;
}

/* .intro > p:first-child a {
  text-decoration-line: underline;
} */

.intro li a p:first-child {
  width: 10vw;
}

/* ABSTRACT SECTION - HOME PAGE */

#abstract .default-carousel .swiper {
  aspect-ratio: 16/9;
}

#abstract .content p:first-child {
  margin-bottom: var(--spacing-lg);
}

/* BEAN - HOME PAGE */

#bean .content > p:first-child {
  margin-bottom: var(--spacing-lg);
}

#bean .bean-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-md);
}

#bean .bean-info .default-carousel .swiper {
  aspect-ratio: 4/6;
}

#bean .info-item {
  display: flex;
  align-items: flex-start;
}

#bean .info-item * {
  font-size: var(--text-sm);
  line-height: 1.08;
}

#bean .info-item p:first-child {
  width: 50%;
  flex: none;
}

#bean .info-item p {
  flex: 1;
}

/* ROASTS - HOME PAGE */

#roasts .content .graph {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

#roasts .content .graph > div {
  grid-column: span 1 / span 1;
}

#roasts .content .graph > div img {
  width: 100%;
}

#roasts .info-item {
  display: flex;
  align-items: flex-start;
}

#roasts .info-item * {
  font-size: var(--text-sm);
  line-height: 1.08;
}

#roasts .info-item p:first-child {
  width: 35%;
  flex: none;
}

#roasts .info-item p {
  flex: 1;
}

#roasts .content h3 {
  font-size: var(--text-sm);
  line-height: 1.08;
}

#roasts .roast-intro {
  margin-bottom: var(--spacing-md);
}

#roasts .roast-intro p {
  text-indent: 10vw;
}

#roasts .roast-intro p:first-child {
  text-indent: 0;
}

#roasts .dropdown-title {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-bottom: var(--spacing-sm);
}

/* DOCUMENTATION - HOME PAGE */

#documentation .video-player {
  aspect-ratio: 16/9;
  position: relative;
  background-color: #e4e4e4;
  margin-bottom: var(--spacing-lg);
}

#documentation .video-player video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#documentation .video-player .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
  pointer-events: auto;
}

#documentation .video-player.playing .overlay {
  opacity: 0;
  pointer-events: none;
}

#documentation .overlay-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#documentation .overlay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#documentation .overlay svg {
  width: 45px;
  z-index: 10;
  position: relative;
}

#documentation .default-carousel .swiper {
  aspect-ratio: 16/9;
}

/* TEAM SECTION  */

#team .team-item > div:first-child {
  display: flex;
  align-items: flex-start;
}

#team .team-item > div:last-child {
  text-indent: 10vw;
}

#team .team-item .icon {
  width: 10vw;
}

#team .team-item>div:first-child div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--spacing-md);
}

#team * + .team-item {
  margin-top: 6rem;
}

/* BACK TO TOP BUTTON */

#back-to-top-section {
  position: fixed;
  bottom: var(--spacing-md);
  left: var(--spacing-md);
  z-index: 100;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  display: flex;
  align-items: center;
}

#back-to-top-section button svg {
  height: 50px;
}

body.back-to-top-active #back-to-top-section {
  opacity: 1;
  pointer-events: auto;
}

.buy-now {
  margin-left: 30px;
  background: linear-gradient(to left, red, green, blue);
  padding: 4px;
}

.buy-now div {
  padding: 10px 25px;
  background-color: white;
}


/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  body {
    font-size: var(--text-base);
  }

  p,
  button,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--text-base);
  }

  .hero {
    height: 90vh;
    max-height: 1000px;
    min-height: 700px;
  }

  .dropdown .content-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  #bean .bean-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .section .title {
    margin-bottom: var(--spacing-lg);
  }

  .default-carousel .buttons * {
    font-size: var(--text-sm);
    line-height: 1.08;
  }

  #bean .info-item p:first-child {
    width: 25%;
  }

  #roasts .content .graph {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  #roasts .info-item p:first-child {
    width: 25%;
  }

  #team .team-item>div:first-child div {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0;
  }

  #team .team-item>div:first-child div p:first-child {
    width: 50%;
  }

  #documentation .overlay svg {
    width: 95px;
  }

  #back-to-top-section button svg {
    height: 80px;
  }
}

